* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #090b1a; }

.card__container {
  display: flex;
  flex-direction: column;
  background-color: #1b1938;
  border-radius: 10px;
  overflow: hidden; }
  @media screen and (min-width: 375px) {
    .card__container {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }
  .card__container .card__text {
    width: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 70px; }
    .card__container .card__text .text__one h1 {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 35px; }
      .card__container .card__text .text__one h1 span {
        color: #aa5cdb; }
    .card__container .card__text .text__two p {
      width: 90%;
      font-family: "Lexend Deca", sans-serif;
      color: rgba(255, 255, 255, 0.75);
      font-size: 14px;
      line-height: 23px;
      margin-bottom: 60px; }
    .card__container .card__text .text__three {
      display: flex; }
      .card__container .card__text .text__three .stats {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .card__container .card__text .text__three .stats span:first-child {
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          font-family: "Inter", sans-serif;
          font-size: 19px;
          margin-bottom: 5px; }
        .card__container .card__text .text__three .stats span:nth-child(2) {
          font-family: "Lexend Deca", sans-serif;
          color: rgba(255, 255, 255, 0.6);
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 1px; }
  .card__container .card__hero {
    background-color: #6d13aa; }
    .card__container .card__hero img {
      opacity: 0.6;
      height: 100%; }
